<div class="pv3 pv5-l ph3 ph5-l tc flex flex-column items-center justify-center intro-section">
  <h1 class="f3 f2-m f1-l fw3 black-90 mt0 mb2 mb3-ns">
    Devon Bellizio
  </h1>
  <h2 class="f5 f4-m f3-l fw2 black-50 mt0 mb4 mb5-l">
    Front-end Developer
  </h2>
  <img src="http://via.placeholder.com/300x300" class="br-100 ba dn-m dn-l" alt="avatar">
  <img src="http://via.placeholder.com/400x400" class="br-100 ba dn db-m db-l" alt="avatar">
</div>
<div class="pv3 pv5-l ph3 ph5-l flex flex-column items-center">
  <h1 class="f3 f2-m f1-l fw3 black-90 mt0 mb4 mb5-ns tc">
    About Me
  </h1>
  <p class="ma0 f5 f4-ns fw4 fw3-ns lh-copy measure-wide">
    Sed tristique augue non ligula vestibulum, nec venenatis arcu sagittis. Praesent lobortis bibendum lacus blandit venenatis.
    Vestibulum tristique eros condimentum sapien posuere iaculis. Morbi hendrerit metus in commodo elementum. Etiam tincidunt
    massa eu dolor bibendum suscipit.
    <br>
    <br> Pellentesque et leo quam. Nulla id justo luctus dui viverra rhoncus quis a diam. Nulla ipsum felis, pellentesque dapibus
    nulla sed, mollis consectetur eros. Fusce orci erat, venenatis eget sodales nec, aliquam ut mi. Nullam tortor quam, malesuada
    quis nulla sed, hendrerit venenatis nisi.
  </p>
</div>
