<div id="about" class="pv4 ph3 flex flex-column items-center justify-center page-section">
  <h1 class="f2 f1-m f1-l fw5 mt0 mb4 mb5-ns near-black">
    About Me
  </h1>
  <p class="ma0 f5 f4-ns fw4 fw3-ns near-black lh-copy measure-wide">
    My name is
    <span class="b">Devon Bellizio</span> and I am currently a front-end software engineer at
    <a class="blue underline-animate-down" href="https://cardinalsolutions.com" target="_black" rel="noopener">Cardinal
      Solutions</a> in
    Charlotte, NC. As a developer, I enjoy architecting and building modular, scalable, front-end systems that are both
    performant
    and easy to use.
    <br>
    <br> I'm passionate about learning how stuff works inside and out. Since a young age, I have been taking things
    apart
    and putting them back together. I think it has helped me solve challenging problems of varying scale on both an
    individual
    level and in collaborative environments.
    <br>
    <br> When I am not behind the keyboard, I enjoy spending time restoring, repairing, and riding motorcycles on and
    off
    road. One day I want to travel west and explore the desert on my
    <a class="blue underline-animate-down" href="/assets/images/xr500r.jpg">1984 Honda XR500R</a>.
  </p>
</div>
