<header class="fixed w-100 bg-near-black">
  <nav class="flex items-center justify-between border-box pt2 pb2 ph3 ph5-l">
    <a class="flex near-white" href="https://belliz.io">
      <img src="http://via.placeholder.com/100" class="br-100 w2 h2 w3-ns h3-ns" alt="Site Name">
    </a>
    <div class="flex">
      <a class="underline-animate near-white lh-copy f6 f5-ns dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'intro')"
        title="Home">Home</a>
      <a class="underline-animate near-white lh-copy f6 f5-ns dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'about')"
        title="About">About</a>
      <a class="underline-animate near-white lh-copy f6 f5-ns dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'contact')"
        title="Contact">Contact</a>
      <a class="underline-animate near-white lh-copy f6 f5-ns dib" href="/assets/files/Devon_Bellizio_Resume.pdf" target="_blank"
        rel="noopener" title="Resume">Resume</a>
    </div>
  </nav>
</header>
