<header class="fixed w-100 bg-near-black flex items-center justify-between border-box pv3 ph3 ph5-l"
  data-gumshoe-header data-scroll-header data-gumshoe>
  <a class="flex underline-animate-up" href="#intro" data-scroll>
    <img src="assets/images/logo--white.svg" class="dib logo" alt="site home">
  </a>
  <nav class="flex ttu f6 lh-copy">
    <a class="underline-animate-up near-white mr3 mr4-ns pointer" href="#about" data-scroll>About</a>
    <a class="underline-animate-up near-white mr3 mr4-ns pointer" href="#work" data-scroll>Work</a>
    <a class="underline-animate-up near-white mr3 mr4-ns pointer" href="#contact" data-scroll>Contact</a>
    <a class="underline-animate-up near-white" href="assets/files/Devon_Bellizio_Resume.pdf" target="_blank" rel="noopener">Resume</a>
  </nav>
</header>
