<header class="fixed w-100 bg-near-black">
  <nav class="flex items-center justify-between border-box pv3 ph3 ph5-l">
    <a class="flex near-white" href="/">
      <img src="assets/images/logo--white.svg" class="dib logo" alt="Site Name">
    </a>
    <div class="flex ttu f6 lh-copy">
      <a class="underline-animate-up near-white dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'intro')" title="Home">Home</a>
      <a class="underline-animate-up near-white dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'about')" title="About">About</a>
      <a class="underline-animate-up near-white dib mr3 mr4-ns pointer" href="" (click)="scrollToSection($event, 'contact')" title="Contact">Contact</a>
      <a class="underline-animate-up near-white dib" href="/assets/files/Devon_Bellizio_Resume.pdf" target="_blank" rel="noopener"
        title="Resume">Resume</a>
    </div>
  </nav>
</header>
