<div id="work" class="pv4 ph3 flex flex-column items-center justify-center page-section bg-light-gray">
  <h1 class="f2 f1-m f1-l fw5 mt0 mb4 mb5-ns near-black">
    Work
  </h1>
  <div class="flex flex-wrap justify-center mw9">
    <a href="https://www.epri.com" target="_blank" rel="noopener" title="EPRI" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l mb4 mr4-ns">
      <img class="db" src="assets/images/epri-logo.png" alt="epri logo">
    </a>
    <a href="https://www.jabil.com" target="_blank" rel="noopener" title="Jabil" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l mb4 mr4-l">
      <img class="db" src="assets/images/jabil-logo.png" alt="jabil logo">
    </a>
    <a href="https://www.quietstreamfinancial.com" target="_blank" rel="noopener" title="QuietStream" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l mb4 mr4-m">
      <img class="db" src="assets/images/qsf-logo.png" alt="quietstream logo">
    </a>
    <a href="https://www.bankofamerica.com" target="_blank" rel="noopener" title="Bank of America" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l mb4 mb0-l mr4-l">
      <img class="db" src="assets/images/boa-logo.png" alt="bofa logo">
    </a>
    <a href="https://www.carolinashealthcare.org" target="_blank" rel="noopener" title="Carolinas HealthCare" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l mb4 mb0-ns mr4-ns">
      <img class="db" src="assets/images/chs-logo.png" alt="chs logo">
    </a>
    <a href="https://www.bentley.com/en" target="_blank" rel="noopener" title="Bentley Systems" class="bg-white shadow-4 grow pa3 flex items-center justify-center w-100 w-40-m w-25-l">
      <img class="db" src="assets/images/bentley-logo.png" alt="bentley logo">
    </a>
  </div>
</div>
