@charset 'utf-8';

$header-offset-small: 50px;
$header-offset-large: 82px;

html,
body {
  height: 100%;
}

header {
  top: 0;
  z-index: 1000;
}

.layout-container {
  margin-top: $header-offset-small;
}

.intro-section,
.about-section,
.contact-section {
  height: calc(100vh - #{$header-offset-small});
}

.social-link {
  height: 2rem;
  width: 2rem;
}

.hover-google-red:focus,
.hover-google-red:hover {
  color: #d62d20;
}

.hover-github-gray:focus,
.hover-github-gray:hover {
  color: #333333;
}

.hover-linkedin-blue:focus,
.hover-linkedin-blue:hover {
  color: #0077b5;
}

.hover-twitter-blue:focus,
.hover-twitter-blue:hover {
  color: #1da1f2;
}

@media screen and (min-width: 30em) {
  .layout-container {
    margin-top: #{$header-offset-large};
  }

  .intro-section,
  .about-section,
  .contact-section {
    height: calc(100vh - #{$header-offset-large});
  }

  .social-link {
    height: 3rem;
    width: 3rem;
  }
}
