@charset 'utf-8';

$header-offset-small: 64px;
$header-offset-large: 96px;

html,
body {
  height: 100%;
}

header {
  top: 0;
  z-index: 1000;
}

.layout-container {
  margin-top: $header-offset-small;
}

.intro-section {
  height: calc(100vh - #{$header-offset-small});
}

.social-link {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 30em) {
  .layout-container {
    margin-top: #{$header-offset-large};
  }

  .intro-section {
    height: calc(100vh - #{$header-offset-large});
  }

  .social-link {
    height: 3rem;
    width: 3rem;
  }
}
