@charset 'utf-8';

$header-offset-small: 64px;
$header-offset-large: 80px;
$blue: #0074d9;
$yellow: #ffd700;
$near-white: #f4f4f4;

header {
  height: $header-offset-small;
  top: 0;
  z-index: 1000;
}

::selection {
  background: $yellow;
}

.blue {
  color: $blue;
}

.logo {
  height: 32px;
}

.layout-container {
  margin-top: $header-offset-small;
}

.page-section {
  min-height: calc(100vh - #{$header-offset-small});
}

.social-link {
  height: 32px;
  width: 32px;
}

#nav-list {
  li {
    &:first-child {
      margin-right: auto;
    }
  }
}

.hover-github-gray:focus,
.hover-github-gray:hover {
  color: #333333;
}

.hover-linkedin-blue:focus,
.hover-linkedin-blue:hover {
  color: #0077b5;
}

.underline-animate-up,
.underline-animate-down {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
  }
}

.underline-animate-up {
  &::after {
    background: $yellow;
    bottom: -3px;
    transform: translateY(5px);
  }
}

.active {
  .underline-animate-up {
    &::after {
      border-radius: 3px;
      height: 2px;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.underline-animate-down {
  &::after {
    background: $blue;
    bottom: 5px;
    transform: translateY(0px);
  }

  &:hover {
    &::after {
      border-radius: 3px;
      height: 2px;
      opacity: 1;
      transform: translateY(5px);
    }
  }
}

.terminal-cursor {
  display: inline-block;
  background-color: $near-white;
  /* Set height to the line-height of .terminal-text */
  height: 24px;
  width: 12px;
  vertical-align: top;
  /*
    Animation parameters:
    blink = animation-name,
    1s = animation-duration,
    step-end = animation-timing-function,
    infinite = animation-iteration-count
  */
  animation: blink 1s step-end infinite;
}

.work-tile-link {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 30em) {
  header {
    height: $header-offset-large;
  }

  .layout-container {
    margin-top: #{$header-offset-large};
  }

  .page-section {
    min-height: calc(100vh - #{$header-offset-large});
  }

  .social-link {
    height: 48px;
    width: 48px;
  }

  .logo {
    height: 48px;
  }

  .terminal-cursor {
    height: 36px;
    width: 16px;
  }

  .work-tile-link {
    width: calc(33% - 16px);
  }
}

@media screen and (min-width: 60em) {
  .terminal-cursor {
    height: 48px;
    width: 24px;
  }
}
